*
{
	 font-family: "Parkinsans", serif;
}
.moviePic
{
	width:100%;
	height:25%;
	opacity:70%;
	border-radius:10px;
}
.movieDetail
{
	position:absolute;
	top:65%;
	font-size:15px;
	text-align:center;
	
	
}